@use "./variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
}

.container-big {
    width: $containerBig-width;
    max-width: $containerBig-max-width;
    margin: 0 auto;
}

.container-small {
    width: $containerSmall-width;
    max-width: $containerSmall-max-width;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}


h1 {
    font-size: 2.3rem;
}

h2 {
    font-weight: 400;
}

h3 {
    color: $yellow-color;
}

p {
    font-size: 0.8rem;
}

/* !"DEBUG" DA ELIMINARE TERMINATO IL CODICE*/
.debug {
    background-color: rgba(0, 102, 255, 0.5);
    border: 1px solid #000;
}