$white-color: #ffffff;
$yellow-color: #fed03d;
$dimgray-color: #333333;
$whitesmoke-color: #f5f5f5;
$indigo-color: #55328b;
$black-color: #1f1f1f;
$orange-color: #fe813e;
$dodgerblue-color: #517ad2;
$green-color: #84cb01;
$darkturquoise-color: #21a6b5;
$primary-font: Arial, Helvetica, sans-serif;
$container-width: 80%;
$container-max-width: 1200px;
$font-weight600: 600;