//Color palette
$white-color: #ffffff;
$yellow-color: #fed03d;
$dimgray-color: #333333;
$whiteSmoke-color: #f5f5f5;
$indigo-color: #55328b;
$black-color: #1f1f1f;
$orange-color: #fe813e;
$dodgerBlue-color: #517ad2;
$green-color: #84cb01;
$darkTurquoise-color: #21a6b5;



//Font da ricontrollare
$primary-font: 'Raleway', sans-serif;



//Container
$containerBig-width: 90%;
$containerBig-max-width: 1500px;
$containerSmall-width: 70%;
$containerSmall-max-width: 1200px;
